body {
    background-color: #474747;
}
* {
    text-align: center;
}
html { scroll-behavior: smooth; } 
button {
    background-color: #555;
}
.center {
    font-family: sans-serif;
}
p {
    padding: 0px 12px;
    font-size: 22px;
}
input {
    background-color: #999;
}
.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 56.2px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 1px;
}
.button:hover {
    background-color: #4dc452;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    left:50%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
.comment {
    background-color: #404040;
    padding: 15px;
    display: inline-block;
    border: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
}
.comments {
    background-color: #404040;
    padding: 15px 0px;
    border: 1px solid;
    display: block;
    font-family: sans-serif;
    /* set the width of the comment box */
    width: 75%;
    margin: 0 auto;
}
.commentlikes {
    font-family: sans-serif;
}
.skipnavlink {
    position: absolute;
    left: -1000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skipnavlink:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
}
form {
    padding: 0px 3px;
    display: inline;
}
